{% extends "base.html" %}
{% block content %}
<div class="row">
	<h1>Register!</h1>
</div>
<div class="row">
	<form method="post" novalidate>
		{{ form.hidden_tag() }}
		<div class="col-4">
			<div class="form-group">
				<label class="form-check-label" for="usernameBox">{{ form.username.label }}</label>
				{{ form.username(size=32, class="form-control", id="usernameBox") }}
				<!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username"> -->
				{% if form.username.errors %}
				<ul class="errors">
					{% for error in form.username.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<label class="form-check-label" for="passwordBox">{{ form.password.label }}</label>
				{{ form.password(size=32, class="form-control", id="passwordBox") }}
				<!-- <input type="text" class="form-control" placeholder="Password" aria-label="Password" name="password"> -->
                {% if form.password.errors %}
				<ul class="errors">
					{% for error in form.password.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
                <label class="form-check-label" for="confirmBox">{{ form.confirm.label }}</label>
				{{ form.confirm(size=32, class="form-control", id="confirmBox") }}
				<!-- <input type="text" class="form-control" placeholder="Confirm password" aria-label="Confirm password" name="Confirm password"> -->
                {% if form.confirm.errors %}
				<ul class="errors">
					{% for error in form.confirm.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			<div class="input-group mb-4">
				<button class="btn btn-outline-primary" id="button-register">Register</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
